header {
    z-index: 1;
    -webkit-box-shadow: 0px 4px 15px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 4px 15px 2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 4px 9px -2px rgba(0, 0, 0, 0.75);
    margin-bottom: 100px;
}

@media (max-Width: 996px) {
    header .nav {
        display: block;
        text-align: center;
        width: 100%;
        float: none;
    }

    header .nav a:hover {
        color: rgba(11, 72, 107, 0.438);
    }
}


section {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

input,
textarea {
    margin-bottom: 1rem;
}

#sobre a {
    margin-bottom: 2rem;
}

.card {
    width: 30.5%;
    float: left;
    margin: 5px;
}

@media(max-width: 768px) {
    .card {
        width: 100%;
        float: none;
    }
}

footer {
    text-align: center;
    font-weight: 300;
    padding: 1rem;
}

.gbri {
    color: rgba(0, 0, 0, 0.493);
    text-decoration: none;
}

.cabecalho {
    display: block;
}

.gbri:hover {
    color: white;
}

.carousel-item {
    height: 350px;
}

@media(max-width: 1190px) {
    .carousel-item {
        height: 650px;
    }

    .header {
        margin-bottom: 50px;
    }
}

.links-icons-yt {
    text-decoration: none;
    color: red;
}

.links-icons-fb {
    text-decoration: none;
    color: blue;
}

.links-icons-inst {
    text-decoration: none;
    color: rebeccapurple;
}
